button {
    position: fixed;
    width: 263px;
    height: 72px;
    border-radius: 8px; 
    align-items: center; 
    justify-content: center;
    border: none; 
    color: white;
    font-family: 'Spartan';
    font-size: 44px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
    background: #333337;  
}

.first {
    top: 983px;
    left: 568px; 
} 

.second {
  top: 983px;
  left: 868px;
} 

.third {
  top: 983px;
  left: 1168px;
}

button:hover {
  background-color: #3689D7;;
}
  
